# URL del sitio (reemplazar con tu dominio de Netlify)
NEXT_PUBLIC_SITE_URL=https://tu-dominio.netlify.app

# Analytics (opcional)
# NEXT_PUBLIC_GA_ID=

# Información de contacto
NEXT_PUBLIC_EMAIL=tu-email@ejemplo.com
NEXT_PUBLIC_LINKEDIN=https://www.linkedin.com/in/andres-ayala-sanchez/
NEXT_PUBLIC_INSTAGRAM=https://www.instagram.com/andres_gerardo_ayala/
